.bank-account
{
	width: 100%;
}

table.bank-account
{
	border-collapse: collapse;
}

table.bank-account > tbody > tr > th
{
	padding-right: 20px;
	width: 200px;
	height: 30px;
	text-align: right;
	background-color: #eee;
}

table.bank-account > tbody > tr > td
{
	padding-left: 20px;
}
