table.transfer-history
{
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
}

table.transfer-history > thead > tr
{
	height: 30px;
	background-color: #eee;
}

table.transfer-history > tbody > tr
{
	height: 30px;
}

table.transfer-history > thead > tr > th:nth-child(1)
{
	width: 17%;
}

table.transfer-history > thead > tr > th:nth-child(2)
{
	width: 25%;
}

table.transfer-history > thead > tr > th:nth-child(3)
{
	width: 25%;
}

table.transfer-history > thead > tr > th:nth-child(4)
{
	width: 15%;
}

table.transfer-history > thead > tr > th:nth-child(5)
{
	width: auto;
}

table.transfer-history > tbody > tr > td:nth-child(1)
{
	padding-right: 20px;
	text-align: right;
}

table.transfer-history > tbody > tr > td:nth-child(2)
{
	padding-left: 20px;
	text-align: left;
}

table.transfer-history > tbody > tr > td:nth-child(3)
{
	padding-left: 20px;
	text-align: left;
}

table.transfer-history > tbody > tr > td:nth-child(4)
{
	padding-right: 20px;
	text-align: right;
}

table.transfer-history > tbody > tr > td:nth-child(5)
{
	text-align: center;
}
