table.total-lists-united
{
	width: 100%;
}

table.total-lists-united > tbody > tr > td
{
	vertical-align: top;
}

table.total-list
{
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
	border-collapse: collapse;
}

table.total-list > thead > tr
{
	height: 30px;
	background-color: #eee;
}

table.total-list > tbody > tr
{
	height: 30px;
}

table.total-list > thead > tr > th:nth-child(1)
{
	width: 75%;
}

table.total-list > thead > tr > th:nth-child(2)
{
	width: 25%;
}

table.total-list > tbody > tr > td:nth-child(1)
{
	padding-left: 20px;
	text-align: left;
}

table.total-list > tbody > tr > td:nth-child(2)
{
	padding-right: 20px;
	text-align: right;
}

table.total-list a
{
	color: #000;
}
