table.transfer-details
{
	margin-top: 5px;
	margin-bottom: 20px;
	width: 600px;
	border-collapse: collapse;
}

table.transfer-details > tbody > tr > th
{
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	width: 40%;
	height: 30px;
	text-align: right;
	vertical-align: top;
	background-color: #eee;
}

table.transfer-details > tbody > tr > td
{
	padding-top: 5px;
	padding-left: 20px;
	text-align: left;
	vertical-align: top;
}
