#breadcrums a
{
	margin: 0 5px;

	border-bottom: 1px dotted #000;
	font-size: 22px;
	color: #000;
	text-decoration: none;
}

#breadcrums a:first-child
{
	margin-left: 0;
}

#breadcrums a:last-child
{
	border-bottom: 0;

	font-size: 28px;
}
