#header .menu
{
	margin: -10px;

	display: block;

	border-radius: 7px;

	background: -webkit-gradient(linear, left top, left bottom, from(#4b5), to(#252));
	background: -moz-linear-gradient(top, #4b5, #252);
	background-image: -o-linear-gradient(#4b5, #252);
}

#header .menu .item
{
	margin: 15px 0 15px 55px;

	display: inline-block;
	font-size: 24px;
	color: #fff;
	border-bottom: 1px dotted #999;
	text-shadow: 1px 1px 1px #252;
}

#header .menu a.item:hover,
#header .menu a.item:active
{
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}
