.link-pager
{
	margin: 0;
	padding: 0;
	display: inline;
	vertical-align: top;
}

ul.link-pager
{
	list-style-type: none;
}

ul.link-pager > li
{
	padding: 5px;
	display: inline;
}

ul.link-pager > li.hidden,
ul.link-pager > li.previous,
ul.link-pager > li.next
{
	display: none;
}

ul.link-pager > li.selected
{
	font-weight: bold;
}
